@import './base.css';

#app {
  display: grid;
  font-weight: normal;
  background-color: #01318ab6;
}

a {
  font-size: x-large;
  text-decoration: none;
  color: #01328A;
  transition: 0.4s;
  padding: 10px 15px 15px 15px;
  margin-right: 5px;
}

@media (min-width: 1024px) {
  body {
    display: grid;
  }
}
