@import './base.css';

#app {
  display: grid;
  font-weight: normal;
  background-color: #01318ab6;
}

main {
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  padding: 15px 15px 15px 15px;
  text-align: center;
  text-transform: uppercase;
  color: #fe15c6;
}

.n-card {
  padding: 20px;
  background-color: #ccebff;
  text-align: center;
  text-transform: uppercase;
  height: fit-content;
  max-width: 800px;
}

a {
  font-size: x-large;
  text-decoration: none;
  color: #01328A;
  transition: 0.4s;
  padding: 10px 15px 15px 15px;
  margin-right: 5px;
}

@media (min-width: 1024px) {
  body {
    display: grid;
  }
}
